<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="lao.wei"/>

    <!--集成mybatis jdbc.properties-->
    <context:property-placeholder location="classpath:*.properties"/>

    <!--mybatis的相关配置-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--配置连接池-->
        <property name="dataSource" ref="dataSource"/>
        <property name="typeAliasesPackage" value="lao.wei.pojo"/>

        <!--分页插件-->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <props>
                            <prop key="helperDialect">mysql</prop>
                            <prop key="reasonable">true</prop>
                        </props>
                    </property>

                </bean>
            </array>
        </property>
    </bean>

    <!--核心配置文件里面的 dataSource-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql:///ssm_db"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <!--核心映射配置文件-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="lao.wei.mapper"/>
    </bean>
    <!-- 事务管理器(在Spring的核心配置文件中) -->
    <bean id="transactionManger" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--注解开启 事务驱动-->
    <tx:annotation-driven transaction-manager="transactionManger"/>

    <!--事务切面-->
    <!--<aop:config_bak>
        <aop:pointcut id="pt" expression="execution(* lao.wei.service.*Service.*(..))"/>
        <aop:advisor advice-ref="myAdvice" pointcut-ref="pt"/>
    </aop:config_bak>-->

    <!--事务的详细配置-->
    <!--<tx:advice id="myAdvice" transaction-manager="transactionManger">
        <tx:attributes>
            <tx:method name="*" read-only="false" />
            <tx:method name="get*" read-only="true" />
            <tx:method name="find*" read-only="true" />
        </tx:attributes>
    </tx:advice>-->
</beans>